:root{
  font-family: roboto;
  background-color: #1f2937;
  margin: 0;
  padding: 0;
} 
*{
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  list-style: none;
}
header{
  background-color: #1f2937;
  display: flex;
  flex-wrap: wrap;
  color:#ffffff;
  justify-content: flex-start;
  align-items: flex-start;
  font-size: 24px;
  font-weight: 500;
  padding: 10px;
  margin: 10px;
}
header nav{
  display: inline-block;
  position: absolute;
  right: 0;
  margin-left: auto;
  padding: 10px 15px;
  font-size: 18px;
  font-weight: 500;
  top: 20px;
}
header nav a{
  color:#ffffff;
  margin-right: 20px;
}
header nav a:hover{
  color:#3b82f6;
  transition: 0.3s;
}
.hero{
  background-color: #1f2937;
  display: flex;
  justify-content: left;
  align-items: left;
  color:#ffffff;
  text-align: left;
  flex-direction: row;
  margin: 10px;
  gap: 40px;
  padding: 20px;
  margin-top: 60px;
} 
.hero h1{
  font-size: 48px;
  margin-bottom: 20px;
  color:#f9faf8;
  font-weight:900;
}
button{
  padding: 10px 20px;
  margin-top: 20px;
  cursor: pointer;
  background-color: #3b82f6;
  border-radius: 10px;
  border-color: #3b82f6
}
button a{
  background-color: #3b82f6;
  color:#ffffff;
  font-weight: 500;
  font-size: 24px;
  border: 2px solid #3882f6;
  border-radius: 10px;
  /*border: none;*/
}
button a:hover{
  color:#000000;
  transition: 0.3s;
}
.image-gallery{
  background-color: #ffffff;
  font-size: 36px;
}
.image-gallery h2{
  text-align: center;
  padding: 20px;
  color:#1f2937;
}
.container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 300px;
  justify-content: center;
  font-size: 18px;
  gap: 30px;
  padding: 80px;
}
.container img{
  display: grid;
  border-radius: 10px;
  width:100%;
  height:70%;
  object-fit: cover;

}
.container 1, .container 2, .container 3, .container 4{
  object-fit: cover;
  text-align: center;
  color:#1f2937;
}
.container img:hover{
  transform: scale(1.05);
  transition: 0.3s;
}
.quote{
  display: wrap;
  background-color: #e5e7eb;
  color:#1f2937;
  padding: 60px;
}
blockquote{
  font-size: 36px;
  weight: 300;
  text-align: center;
  padding: 40px;
  font-style: italic;
}
.quote p{
  font-size: 24px;
  font-weight:bolder;
  text-align: right;
  margin-right: 10%;
  margin-top: -30px;
}
.card{
  background-color: #ffffff;
  display: grid;
}
.call-to-action{
  background-color: #3882f6;
  color: #ffffff;
  padding: 10px;
  padding-left: 2%;
  padding-right: 2%;
  margin: 60px;
  margin-left: 0%;
  margin-right: 0%;
  text-align: left;
}
button.tn{
  color: #ffffff;
  border-radius: 10px;
  border: 2px solid #ffffff;
  float: right;
  margin: 1px;
  margin-bottom: 50px;
}
a.tn{
  font-size: 14px;
}
footer{
  text-align: center;
  color: #ffffff;

}

